@font-face {
    font-family: "GT Haptik Light";
    src: url("./fonts/GTHaptikLight.ttf");

}

@font-face {
    font-family: "Radley";
    src: url("./fonts/Radley-Italic.ttf");
}

@font-face {
    font-family: "Covered By Your Grace";
    src: url("./fonts/CoveredByYourGrace-Regular.ttf");
}


* {
  box-sizing: border-box;
}


body {
  font-size: 100%;
  font-family: "GT Haptik Light";
  margin: 0px;
}


/*INTRO HEADER*/
.introHeader {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 500px;

  /* height: 500px; */

}

.introHeader img  {
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0;
  object-fit: cover;
}

.titleContainer {
  width: 80%;
  margin: 50px 50px;
}



.titleContainer > h1, h2, h3 {
  margin: 5px;
}


.titleContainer h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  background-color: #2B3856;
  color: white;
  display: inline-block;
  padding: 0 20px;
  animation-name: goIneffect;
  animation-duration: 4s;
  box-shadow: 10px 10px 20px gray;
}


 @keyframes goIneffect {
  from {background-color: white;}
  to {background-color: #2B3856;}
}

@keyframes goIneffectTwo {
  from {color: white;}
  to {color: black;}
} 


.titleContainer h2, h3 {
  font-size: 1.5em;
  font-variant: small-caps;
  /* animation-name: goIneffectTwo;
  animation-duration: 4s; */

}




/*MAIN NAVIGATION*/
.mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255,255,255,0.9);

}

.mainNav ul {
  text-align: center;
  list-style-type: none;
  float: right;

}

.mainNav ul li{
  list-style-type: none;
  display: inline-block;
}

.mainNav a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.mainNav a:hover{
  border-bottom: 3px solid #2B3856;
  padding-bottom: 5px; 
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*ADVENTURES*/

.hike {
  width: 100%;
  clear: both;
  display: none;
}

.adventureClass {
  width: 50%;
  float: left;
  display: block;

}


.routeDetails {
  list-style-type: none;
  color: gray;
  list-style-position: inside;
  margin: 0;
  padding: 0 0 50px 0;
  display: none;
}

.routeDetails li {
  display: inline-block;
  float: left;
  margin: 5px 15px;

}



#adventures {
  position: relative;
  background-color: #E5E4E2;
}




.adventureButton {
  font-family: "Covered By Your Grace";
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 20px;
  color: #2B3856;
}

  .adventureButtonNext {
  float: right;
  position: absolute;
  right: 50%;
  top: 5%;
  }

  .adventureButtonPrevious {
  	  float: left;
  position: absolute;
  right: 60%;
  top: 5%;
    
  }


.adventureClass p {
  padding: 0px;
  text-align: justify;
  text-indent: 20px;
}

.adventureClass h1 {
  font-size: 1em;
  margin: 0;
  padding: 30px 0 0 20px;
  text-transform: uppercase;
  border-left: 20px solid #2B3856;
  font-family: "Covered By Your Grace";
}

.adventureClass span {
  color: #2B3856;
  display: inline-block;
  font-family: inherit;
  font-size: 1.5em;
}
.adventureClass div {
  margin:  50px 50px 0 50px;
}

.adventureClass img {
  width: 100%;
}



/*SLIDESHOW GALLERY */
.gambuesaSlideshow, .pintoSlideshow,
.tirajanaSlideshow, .Ayagaures2TunteSlideshow,
.BcodelToroSlideshow, .llanosCircularoSlideshow,
.guayadequeSlideshow, .oscuroSlideshow, .ventanaNubloSlideshow,
.hornosSlideshow, .nievesSlideshow, .hondoSlideshow,
.azuajeVirgenSlideshow, .charcoAzulSlideshow, .teriscalSlideshow,
.gambuesaDataSlideshow, .mimbreDataSlideshow, .playaAldeaDataSlideshow,
.pinoGordoSlideshow, .yeguasSlideshow, .setoGrilloSlideshow, .guiguiSlideshow {
  display: none
}


/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
  float: left;

}

.slideshow-container img {
  vertical-align: middle;
  width:100%;
  height: 500px;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}




/*MIDDLE MESSAGE*/
.messageClass {
  padding: 50px;
  font-size: 2em;
  font-family: "Covered By Your Grace";
  color: #ccfefe;
  text-align: center;
  /*font-weight: bold;*/
  background-color: #006566;
  margin: 0;
  /*text-shadow: 0px 0px 5px #99feff;*/
}


/*ABOUT ME*/
.aboutMe {
   width: 50%;
  float: left;
  display: block;
  margin: 0;
}


.aboutImg, .gcImg {
  width: 100%;
  object-fit: cover;
  display: block;
}

.aboutMe a {
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #2B3856;
  color: #2B3856;
  float: right;
  margin:  0 0 50px 0;
}

.aboutMe a:link, .aboutMe a:visited {
  text-decoration: none;
}

.aboutMe a:hover, .aboutMe a:active {
  background-color: #2B3856;
  color:#98AFC7;
  transition: 1s;
}


.gcImg, .aboutImg {
  height: 400px;
}

.aboutMe div {
  margin:  50px 50px 0 50px;
  position: relative;
}

.aboutMe p {
  padding: 0 0 0 20px;
  text-align: justify;
  text-indent: 20px;

}

.aboutMe h1 {
  font-size: 3em;
  font-family: "Covered By Your Grace";
  margin: 0;
  padding: 0 0 0 20px;
  text-transform: uppercase;
  border-left: 20px solid #2B3856;
}

/*CONTACT*/
footer {
  width: 100%;
  height: 250px;
  background-color: #2B3856;
  display: block;
  color: #98AFC7;
}

footer  * {
  margin: 0;
  }

footer div {
margin: 50px;
display: inline-block;
/* border: 2px solid white; */
}

footer h2 {
  text-transform: uppercase;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
display: inline;
}

footer a {
  color: inherit;
}

footer a:link, footer a:visited{
  text-decoration: none;
  margin: 0 15px 0 0;
}



/*SLIDESHOW GALLERY */




/*RESPONSIVE LAYOUT*/
@media screen and (max-width: 850px) {
  .titleContainer {
    margin: 80px auto;
    text-align: center;
  }

  .introHeader {
    height: 400px;
  }

  .aboutMe, .adventureClass, .aboutMe a {
    width: 100%;
  }

  .aboutImg, .gcImg {
    height: 250px;
  }

  .mainNav {
    width: 100%;
    padding: 0;
    display: block;


  }

  .mainNav ul  {
    text-align: center;
    display: block;
    padding: 0;
    margin: 10px auto;

  }


  .mainNav a {
    font-size: 0.7em;
  }

  .slideshow-container{
    width: 100%;
  }

  .slideshow-container img {
    height: 400px;
  }
  .prev, .next,.text {
    font-size: 11px
  }

  .adventureButtonNext {
    top: 0;
    right: 5%;
  }

  .adventureButtonPrevious {
    top: 0;
    right: 40%;
  }


